html {    
    background: url('/Background.png') no-repeat center fixed;     
    background-size: cover;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid white;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

  .login__button {
    background: transparent;
    
  }